#topic {
  text-align: center;
  font-size: 60px;
  color: rgb(255, 58, 58);
  font-weight: bold;
  font-family: "Qwigley", cursive;
}
#logo {
  position: relative;
  top: 10px;
  text-align: center;
}
#logup {
  text-align: center;
  position: relative;
  top: 20px;
}
#row1 {
  background-color: white;
}

#date {
  padding: 20px;
  border: 1px solid;
  border-radius: 40px;
  background-color: rgb(240, 239, 239);
  color: white;
}
#signbutton {
  border-radius: 30px;
}
